@media screen and (max-width: 868px) {
    .Home {
        width: 710px;
    }
}

@media screen and (max-width: 735px) {
    .Home {
        width: 610px;
    }
}

@media screen and (max-width: 645px) {
    .Home {
        width: 480px;
    }
}

@media screen and (max-width: 515px) {
    .Home {
        width: 360px;
    }
}

@media screen and (max-width: 385px) {
    .Home {
        width: 280px;
    }
}

@media screen and (max-width: 645px) {
    .Home-container {
        margin-top: 6.5em;
    }
}
