.Sidebar {
    background-color: lightblue;
    width: 340px;
    max-width: 360px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 280px;
}

.Sidebar-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
