:root {
    --primary-color: #fff;
    --secondary-color: #438e96;
    --tertiary-color: #ddeff0;
    --border-color: #bfe0e2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin: 0 4em;
}

img,
canvas,
svg,
picture,
video {
    display: block;
    max-width: 100%;
}

button,
textarea,
select,
input {
    font: inherit;
}

#root,
#__next {
    isolation: isolate;
}
